pipeline/GRi27221_Ingest All Tables Loop.json
{
	"name": "GRi27221_Ingest All Tables Loop",
	"properties": {
		"description": "Ingesting all raw tables with a foreach loop",
		"activities": [
			{
				"name": "Get All Tables to Import",
				"description": "Fetch the list of tables to import",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GPi27221_DS_DW_SQLDB_Config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop on tables to Ingest",
				"description": "In each loop a new table is ingested",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get All Tables to Import",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get All Tables to Import').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy table data using foreach",
							"description": "Copying all data from operational to raw",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "GPi27221_DS_OPERATIONAL_FROMCONFIG_v1",
									"type": "DatasetReference",
									"parameters": {
										"TABLE_NAME": "@item().SourceTable"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "GPi27221_DS_ADLS_FROMCONFIG_v1",
									"type": "DatasetReference",
									"parameters": {
										"TABLE_NAME": {
											"value": "@item().DestinationTable",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Updating Last Execution Date",
							"description": "Set success on the last Execution Date",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy table data using foreach",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "TABLE_NAME",
									"value": "@item().SourceTable"
								}
							],
							"typeProperties": {
								"storedProcedureName": "[i27221].[UpdateLastExecution]",
								"storedProcedureParameters": {
									"dest": {
										"value": {
											"value": "@item().SourceTable",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "GPi27221_LS_DW_EXECDATA_v1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "t01/i27221"
		},
		"annotations": [],
		"lastPublishTime": "2021-01-14T18:21:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}