pipeline/i26923 - Data to DW.json
{
	"name": "i26923 - Data to DW",
	"properties": {
		"activities": [
			{
				"name": "i26923 Ingest All Tables Loop",
				"description": "LookUp function to select tables to be ingested",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "i26923_00_DS_DW_SQLDB_Config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Load_LookUpED",
				"description": "After retrieving names of the tables to process inside ForEach will store each table in DW",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "i26923 Ingest All Tables Loop",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('i26923 Ingest All Tables Loop').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy_Tab InForEach to DW",
							"description": "Uses selected table name and copies table with same name from destination",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@{concat('IF OBJECT_ID(''i26923.',item().DestinationTable, ''') IS NOT NULL TRUNCATE TABLE i26923.',item().DestinationTable)}",
										"type": "Expression"
									},
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "i26923_DS_ADLS_FROMCONFIG",
									"type": "DatasetReference",
									"parameters": {
										"TABLE_NAME": {
											"value": "@item().DestinationTable",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "i26923_DS_PROC_ADW_Config",
									"type": "DatasetReference",
									"parameters": {
										"TABLE_NAME": {
											"value": "@item().DestinationTable",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Load_Proc_Customer",
				"description": "Customer dimension has been retrieved and processed separatly && Table not present in config reference table\nBecause of this the processed dimension must be loaded to DW separatly",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "t01/i26923/Processed/dimCustomer",
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"skipLineCount": 0
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "IF OBJECT_ID('i26923.dimCustomer') IS NOT NULL TRUNCATE TABLE i26923.dimCustomer",
							"type": "Expression"
						},
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "i26923_DS_PROC_ADLS_Customers",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "i26923_DS_PROC_ADW_Customers",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "t01/i26923"
		},
		"annotations": [],
		"lastPublishTime": "2021-01-09T16:56:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}