pipeline/i27023 Egress To Azure DW.json
{
	"name": "i27023 Egress To Azure DW",
	"properties": {
		"description": "Fetch ADLS processed data and store it in DW",
		"activities": [
			{
				"name": "Egress Customers To Azure DW",
				"description": "Fetch ADLS processed\nCustomers data and store it in DW",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "t01/i27023/PROCESSED/",
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "IF OBJECT_ID(' i27023.dimCustomer ') IS NOT NULL TRUNCATE TABLE i27023.dimCustomer",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "i27023_DS_PROC_ADLS_Customers",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "i27023_DS_PROC_ADW_Customers",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get All Tables to Import",
				"description": "To azure",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "i27023_DS_DW_SQLDB_Config2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop on tables to Ingest",
				"description": "To azure",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get All Tables to Import",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get All Tables to Import').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy table data using foreach",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@{concat('IF OBJECT_ID(''i27023.',item().DestinationTable, ''') IS NOT NULL TRUNCATE TABLE i27023.',item().DestinationTable)}",
										"type": "Expression"
									},
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "i27023_DS_ADLS_FROMCONFIG2",
									"type": "DatasetReference",
									"parameters": {
										"TABLE_NAME": "@item().DestinationTable"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "i27023_DS_PROC_ADW_Config",
									"type": "DatasetReference",
									"parameters": {
										"TABLE_NAME": "@item().DestinationTable"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "t01/i27023"
		},
		"annotations": [],
		"lastPublishTime": "2021-01-06T19:18:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}