pipeline/i27107 - Ingest All Tables Loop.json
{
	"name": "i27107 - Ingest All Tables Loop",
	"properties": {
		"description": "Ingesting all raw tables with a for each loop",
		"activities": [
			{
				"name": "Get All Tables to Import",
				"description": "Fetch the list of tables to import",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "i27107_DS_DW_SQLDB_Config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop on tables to Ingest",
				"description": "In each loop a new table is ingested",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get All Tables to Import",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get All Tables to Import').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy table data using foreach",
							"description": "Copying all data from raw to processed",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@{concat('IF OBJECT_ID(''i27107.',item().DestinationTable, ''') IS NOT NULL TRUNCATE TABLE i27107.',item().DestinationTable)}",
										"type": "Expression"
									},
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "i27107_DS_ADLS_FROMCONFIG",
									"type": "DatasetReference",
									"parameters": {
										"TABLE_NAME": {
											"value": "@item().SourceTable",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "i27107_DS_PROC_ADLS_AllTables",
									"type": "DatasetReference",
									"parameters": {
										"Table_NAME": {
											"value": "@item().SourceTable",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "t02/i27107"
		},
		"annotations": [],
		"lastPublishTime": "2021-01-16T23:42:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}