pipeline/i27294 Ingest All Tables Loop.json
{
	"name": "i27294 Ingest All Tables Loop",
	"properties": {
		"description": " Ingesting all raw tables with a foreach loop",
		"activities": [
			{
				"name": "Get All Tables to Import",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "i272941_DS_DW_SQLDB_Config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop on tables to Ingest",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get All Tables to Import",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get All Tables to Import').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy table data using foreach",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "i2729411_DS_OPERATIONAL_FROMCONFIG",
									"type": "DatasetReference",
									"parameters": {
										"TABLE_NAME": "@item().SourceTable"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "i2729411_DS_ADLS_FROMCONFIG",
									"type": "DatasetReference",
									"parameters": {
										"TABLE_NAME": "@item().DestinationTable"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "t02/i27294"
		},
		"annotations": [],
		"lastPublishTime": "2021-01-16T11:23:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}