pipeline/i27388 Egress To Azure DW.json
{
	"name": "i27388 Egress To Azure DW",
	"properties": {
		"activities": [
			{
				"name": "Get All Tables to Import",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GPi27388_00_DS_DW_SQLDB_Config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop on tables to Ingest",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get All Tables to Import",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get All Tables to Import').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy table data using foreach",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@{concat('IF OBJECT_ID(''i27388.',item().DestinationTable, ''') IS NOT NULL TRUNCATE TABLE i27388',item().DestinationTable)}",
										"type": "Expression"
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "I273888_DS_ADLS_FROMCONFIG",
									"type": "DatasetReference",
									"parameters": {
										"TABLE_NAME": {
											"value": "@item().Source.Table",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "i27388_DS_DW_DATA",
									"type": "DatasetReference",
									"parameters": {
										"TABLE_NAME": {
											"value": "@item().SourceTable",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "t02/i27388"
		},
		"annotations": [],
		"lastPublishTime": "2021-01-14T17:07:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}