pipeline/t01g14_PL_Ingest from operational to raw.json
{
	"name": "t01g14_PL_Ingest from operational to raw",
	"properties": {
		"description": "Ingesting all raw tables with a foreach loop",
		"activities": [
			{
				"name": "Get all Tables Operational DB",
				"description": "Fetch the list of tables from the Operational DB to import",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "t01g14_DS_DW_SQLDB_Config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop on tables to ingest",
				"description": "In each loop a new table is ingested",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get all Tables Operational DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get all Tables Operational DB').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy table data using Foreach",
							"description": "Copying all data from operational to raw",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "t01g14_DS_OPERATIONAL_FROMCONFIG",
									"type": "DatasetReference",
									"parameters": {
										"TABLE_NAME": {
											"value": "@item().SourceTable",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "t01g14_DS_ADLS_FROMCONFIG",
									"type": "DatasetReference",
									"parameters": {
										"TABLE_NAME": {
											"value": "@item().SourceTable",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Updating Last Execution Date",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy table data using Foreach",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[t01g14].[UpdateLastExecution]",
								"storedProcedureParameters": {
									"dest": {
										"value": {
											"value": "@item().SourceTable",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "t01g14_LS_DW_EXECDATA",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "t01g14"
		},
		"annotations": [],
		"lastPublishTime": "2021-01-17T20:48:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}