pipeline/t02g17_PL_Ingest from operational to raw.json
{
	"name": "t02g17_PL_Ingest from operational to raw",
	"properties": {
		"description": "Ingesting all raw tables with a foreach loop",
		"activities": [
			{
				"name": "Get All Tables to Import",
				"description": "Fetches all tables to be ingested by querying the config table\ncreated in the previous step from exercise 2",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "t02g17_DS_DW_SQLDB_Configdata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop on tables to Ingest",
				"description": "ForEach loop to ingest each table named in configdata. ",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get All Tables to Import",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get All Tables to Import').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy table data using foreach",
							"description": "Copy table from operational DW and store it in the Azure Data Lake in the RAW folder.",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "t02g17_DS_OPERATIONAL_SOURCE",
									"type": "DatasetReference",
									"parameters": {
										"TABLE_NAME": {
											"value": "@item().SourceTable",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "t02g17_DS_ADLS_FROM_CONFIGDATA",
									"type": "DatasetReference",
									"parameters": {
										"TABLE_NAME": {
											"value": "@item().SourceTable",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "t02/t02g17"
		},
		"annotations": [],
		"lastPublishTime": "2021-01-16T16:45:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}