pipeline/t02g09_PL_ingest from operational to raw.json
{
	"name": "t02g09_PL_ingest from operational to raw",
	"properties": {
		"activities": [
			{
				"name": "t02g09 Ingest All Tables Loop",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "t02g09_DS_DW",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop on tables to Ingest",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "t02g09 Ingest All Tables Loop",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('t02g09 Ingest All Tables Loop').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy table data using foreach",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "t02g09_DS_Operacional_fromconf",
									"type": "DatasetReference",
									"parameters": {
										"TABLE_NAME": "@item().SourceTable"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "t02g09_DS_fromconfig",
									"type": "DatasetReference",
									"parameters": {
										"TABLE_NAME": "@item().SourceTable"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "t02g09_df_DataFlow",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Loop on tables to Ingest",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "T02G09_DF_IngestFromRawToProcessed",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"folder": {
			"name": "t02/T02G09"
		},
		"annotations": [],
		"lastPublishTime": "2021-01-17T20:56:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}